*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.franchise-result-container{
    width: 100px;
    padding: 5px;
    background-color: #123859;
    color: white;
    font-weight: 600;
    text-align: center;
}

.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: #123859;
    width: 300px;
    height: 250px;
    gap:25px;
}

.form-input{
    display: flex;
    flex-flow: column;
    gap:15px;
}

.form-fields{
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 250px;
}

input{
    border:0;
    border-radius:2px;
    width: 120px;
    height: 20px;
}

label{
    color:white;
}

button{
    border:none;
    width: 80px;
    height:30px;
    background-color: rgb(35, 106, 238);
    color:white;
    border-radius:10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(24, 76, 172);
}